# Testing of ADA beer review dataset

In [6]:
import os
import sys
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# add the data into the 'code' folder, make sure it is in the .gitignore file
# get your working directory
os.getcwd()

'c:\\Users\\fulci\\git\\ada_23\\ada-2023-project-adarescueteam\\code'

In [8]:
# add '\\data' to it and put in DATA_DIR to set your data directory
DATA_DIR = 'c:\\Users\\fulci\\git\\ada_23\\ada-2023-project-adarescueteam\\code\\data' # add \\data

## BeerAdvocate Dataset

In [40]:
#DATA_BeerAdvocate = os.path.join(DATA_DIR, "BeerAdvocate")     # Jay's path
DATA_BeerAdvocate = os.path.join(DATA_DIR, "BeerAdvocate.tar")  # Ale's path

### beers.csv

In [11]:
# read in the beers.csv file as a DataFrame
BA_beers = pd.read_csv(os.path.join(DATA_BeerAdvocate, "beers.csv")) # worked after i added the data folder into the code folder
#BA_beers = pd.read_csv(r'C:\Users\fulci\git\ada_23\ada-2023-project-adarescueteam\data\BeerAdvocate.tar\beers.csv') # -> copied the path and pasted with 'r' in front
BA_beers.head()

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
0,166064,Nashe Moskovskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.7,NaN,NaN,0,NaN
1,166065,Nashe Pivovskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,3.8,NaN,NaN,0,NaN
2,166066,Nashe Shakhterskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.8,NaN,NaN,0,NaN
3,166067,Nashe Zhigulevskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.0,NaN,NaN,0,NaN
4,166063,Zhivoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.5,NaN,NaN,0,NaN

### breweries.csv

In [12]:
BA_breweries = pd.read_csv(os.path.join(DATA_BeerAdvocate, "breweries.csv")) # worked after i added the data folder into the code folder
#BA_breweries = pd.read_csv(r'C:\Users\fulci\git\ada_23\ada-2023-project-adarescueteam\data\BeerAdvocate.tar\breweries.csv') # -> copied the path and pasted with 'r' in front
BA_breweries.head(), BA_breweries.shape

(      id    location                    name  nbr_beers
 0  39912  Kyrgyzstan  Abdysh-Ata (Абдыш Ата)          5
 1  39913  Kyrgyzstan             Arpa (АРПА)          1
 2  39914  Kyrgyzstan               Bear Beer          4
 3  39915  Kyrgyzstan             Blonder Pub          4
 4  39916  Kyrgyzstan            Kellers Bier          2,
 (16758, 4))

In [13]:
print('breweries that produced only one beer:', len(BA_breweries.loc[BA_breweries['nbr_beers'] <= 1]))
percent = len(BA_breweries.loc[BA_breweries['nbr_beers'] <= 1]) / len(BA_breweries) * 100
print('that is,', round(percent, 2),'%')

breweries that produced only one beer: 3958
that is, 23.62 %

### users.csv

In [14]:
BA_users = pd.read_csv(os.path.join(DATA_BeerAdvocate, "users.csv"))
BA_users.shape, BA_users.head()

((153704, 6),
    nbr_ratings  nbr_reviews                user_id        user_name  \
 0         7820          465         nmann08.184925          nmann08
 1         2521         2504     stjamesgate.163714      StJamesGate
 2         1797         1143          mdagnew.19527          mdagnew
 3           31           31  helloloser12345.10867  helloloser12345
 4          604          604        cypressbob.3708       cypressbob

          joined                   location
 0  1.199704e+09  United States, Washington
 1  1.191838e+09    United States, New York
 2  1.116410e+09           Northern Ireland
 3  1.101380e+09           Northern Ireland
 4  1.069326e+09           Northern Ireland  )

### ratings.txt

need to check if the whole ratings dataset is equal to the reviews dataset. most probably

In [45]:
# read in the file line by line
# extract the data into dataframes

# create the dataframe
def read_ratings_txt(folder, file_name):
    ratings = pd.DataFrame(columns = ["beer_name", "beer_id", "brewery_name", "brewery_id", "style", "abv", "date", "user_name", "user_id", "appearance", "aroma", "palate", "taste", "overall", "rating", "text", "review"])
    # open the file
    with open(os.path.join(folder, file_name), "r") as f:
        # read the file line by line
        row = dict()
        for line in f:
            # if line number is larger than 1000, break
            if len(ratings) > 100:
                break
            # the text file recorded chunks of data representing each review
            # beer_name, beer_id, brewery_name, brewery_id, style, abv, date, user_name, user_id, appearance, aroma, palate, taste, overall, rating, text, review
            # the data is recorded in the order above, line by line iteratively
            
            # read in the data, split each line by the colon, and put them into a dataframe
            # represent each review as a row
            
            # split the line by the colon
            line = line.split(":")
            # if the line is empty, skip
            if len(line) < 2:
                continue
            else:
                if line[0] == "beer_name":
                    # start a new row
                    row = dict()
                    row[line[0]] = line[1].strip()
                elif line[0] == "review":
                    # end of the review
                    row[line[0]] = line[1].strip()
                    # append the row to the dataframe
                    ratings.loc[len(ratings)] = row
                else:
                    row[line[0]] = line[1].strip()        
    return ratings

In [62]:
BA_ratings = read_ratings_txt(DATA_BeerAdvocate, "ratings.txt")
BA_ratings.head(), BA_ratings.shape

## not sure how

(       beer_name beer_id                               brewery_name  \
 0          Régab  142544  Societe des Brasseries du Gabon (SOBRAGA)
 1  Barelegs Brew   19590       Strangford Lough Brewing Company Ltd
 2  Barelegs Brew   19590       Strangford Lough Brewing Company Ltd
 3  Barelegs Brew   19590       Strangford Lough Brewing Company Ltd
 4  Barelegs Brew   19590       Strangford Lough Brewing Company Ltd

   brewery_id             style  abv        date        user_name  \
 0      37262   Euro Pale Lager  4.5  1440064800          nmann08
 1      10093  English Pale Ale  4.5  1235127600      StJamesGate
 2      10093  English Pale Ale  4.5  1142247600          mdagnew
 3      10093  English Pale Ale  4.5  1101898800  helloloser12345
 4      10093  English Pale Ale  4.5  1093860000       cypressbob

                  user_id appearance aroma palate taste overall rating  \
 0         nmann08.184925       3.25  2.75   3.25  2.75     3.0   2.88
 1     stjamesgate.163714        3.0   3.5    3.5   4.0     3.5   3.67
 2          mdagnew.19527        4.0   3.5    3.5   4.0     3.5   3.73
 3  helloloser12345.10867        4.0   3.5    4.0   4.0     4.5   3.98
 4        cypressbob.3708        4.0   4.0    4.0   4.0     4.0   4.00

                                                 text review
 0  From a bottle, pours a piss yellow color with ...   True
 1  Pours pale copper with a thin head that quickl...   True
 2  500ml Bottle bought from The Vintage, Antrim.....   True
 3                                            Serving   True
 4  500ml bottlePours with a light, slightly hazy ...   True  ,
 (101, 17))

In [75]:
# need to see how auxiliary functions work and put this function outside of the notebook, thus just call it here

# read in the reviews
def read_reviews_txt(folder, file_name):
    
    data = pd.DataFrame()
    counter = 0

    with open(os.path.join(folder, file_name), 'rb') as file:
        for line in file:
            counter += 1

            parts = line.strip().split(b'beer_name:')
            if len(parts) == 2:
                beer_name = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'beer_name': [beer_name]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'beer_id:')
            if len(parts) == 2:
                beer_id = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'beer_id': [beer_id]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'brewery_name:')
            if len(parts) == 2:
                brewery_name = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'brewery_name': [brewery_name]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'brewery_id:')
            if len(parts) == 2:
                brewery_id = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'brewery_id': [brewery_id]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'style:')
            if len(parts) == 2:
                style = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'style': [style]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'abv:')
            if len(parts) == 2:
                abv = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'abv': [abv]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'date:')
            if len(parts) == 2:
                date = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'date': [date]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'user_name:')
            if len(parts) == 2:
                user_name = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'user_name': [user_name]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'user_id:')
            if len(parts) == 2:
                user_id = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'user_id': [user_id]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'appearance:')
            if len(parts) == 2:
                appearance = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'appearance': [appearance]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'aroma:')
            if len(parts) == 2:
                aroma = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'aroma': [aroma]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'palate:')
            if len(parts) == 2:
                palate = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'palate': [palate]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'taste:')
            if len(parts) == 2:
                taste = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'taste': [taste]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'overall:')
            if len(parts) == 2:
                overall = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'overall': [overall]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'rating:')
            if len(parts) == 2:
                rating = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'rating': [rating]})], ignore_index=True)  # Concatenate

            parts = line.strip().split(b'text:')
            if len(parts) == 2:
                text = parts[1].strip().decode('utf-8')  # Convert bytes to string
                data = pd.concat([data, pd.DataFrame({'text': [text]})], ignore_index=True)  # Concatenate

            if counter == 300:  # Just 200 lines
                break

    reviews = data.apply(lambda x: pd.Series(x.dropna().values)) # drop all NaN and shift the values (not dropping the whole row)
    return reviews

In [48]:
BA_reviews = read_review_txt(DATA_BeerAdvocate, "reviews.txt")
BA_reviews.head()

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text
0,Régab,142544,Societe des Brasseries du Gabon (SOBRAGA),37262,Euro Pale Lager,4.5,1440064800,nmann08,nmann08.184925,3.25,2.75,3.25,2.75,3.0,2.88,"From a bottle, pours a piss yellow color with ..."
1,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1235127600,StJamesGate,stjamesgate.163714,3.0,3.5,3.5,4.0,3.5,3.67,Pours pale copper with a thin head that quickl...
2,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1142247600,mdagnew,mdagnew.19527,4.0,3.5,3.5,4.0,3.5,3.73,"500ml Bottle bought from The Vintage, Antrim....."
3,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1101898800,helloloser12345,helloloser12345.10867,4.0,3.5,4.0,4.0,4.5,3.98,Serving: 500ml brown bottlePour: Good head wit...
4,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1093860000,cypressbob,cypressbob.3708,4.0,4.0,4.0,4.0,4.0,4.00,"500ml bottlePours with a light, slightly hazy ..."

## RateBeer (RB) Dataset

In [50]:
DATA_RateBeer = os.path.join(DATA_DIR, "RateBeer.tar")

### beers.csv

In [51]:
# read in the beers.csv file as a DataFrame
RB_beers = pd.read_csv(os.path.join(DATA_RateBeer, "beers.csv")) # worked after i added the data folder into the code folder
#BA_beers = pd.read_csv(r'C:\Users\fulci\git\ada_23\ada-2023-project-adarescueteam\data\BeerAdvocate.tar\beers.csv') # -> copied the path and pasted with 'r' in front
RB_beers.head(), RB_beers.shape

(   beer_id               beer_name  brewery_id      brewery_name  \
 0   410549       33 Export (Gabon)        3198           Sobraga
 1   105273     Castel Beer (Gabon)        3198           Sobraga
 2    19445                   Régab        3198           Sobraga
 3   155699  Ards Bally Black Stout       13538  Ards Brewing Co.
 4   239097        Ards Belfast 366       13538  Ards Brewing Co.

                   style  nbr_ratings  overall_score  style_score   avg  abv  \
 0            Pale Lager            1            NaN          NaN  2.72  5.0
 1            Pale Lager           10            5.0         58.0  2.18  5.2
 2            Pale Lager           27            1.0         22.0  1.83  4.5
 3                 Stout            6            NaN          NaN  3.18  4.6
 4  Golden Ale/Blond Ale            1            NaN          NaN  2.79  4.2

    avg_computed    zscore  nbr_matched_valid_ratings  \
 0      2.000000       NaN                          0
 1      1.910000       NaN                          0
 2      1.811111       NaN                          0
 3      3.866667  0.823699                          6
 4      3.000000       NaN                          0

    avg_matched_valid_ratings
 0                        NaN
 1                        NaN
 2                        NaN
 3                   3.866667
 4                        NaN  ,
 (442081, 14))

### breweries.csv

In [52]:
RB_breweries = pd.read_csv(os.path.join(DATA_RateBeer, "breweries.csv")) # worked after i added the data folder into the code folder
#BA_breweries = pd.read_csv(r'C:\Users\fulci\git\ada_23\ada-2023-project-adarescueteam\data\BeerAdvocate.tar\breweries.csv') # -> copied the path and pasted with 'r' in front
RB_breweries.head(), RB_breweries.shape

(      id          location                       name  nbr_beers
 0   3198             Gabon                    Sobraga          3
 1  13538  Northern Ireland           Ards Brewing Co.         13
 2  22304  Northern Ireland  Barrahooley Craft Brewery          4
 3  22818  Northern Ireland                   Boundary         66
 4  24297  Northern Ireland            Brewbot Belfast          3,
 (24189, 4))

In [53]:
print('breweries that produced only one beer:', len(RB_breweries.loc[RB_breweries['nbr_beers'] <= 1]))
percent = len(RB_breweries.loc[RB_breweries['nbr_beers'] <= 1]) / len(RB_breweries) * 100
print('that is,', round(percent, 2),'%')

breweries that produced only one beer: 2745
that is, 11.35 %

### users.csv

In [54]:
RB_users = pd.read_csv(os.path.join(DATA_RateBeer, "users.csv"))
RB_users.shape, BA_users.head()
# here the 'joined' column is looking strange, should probably be a date.. maybe specific package?

((70174, 5),
    nbr_ratings  nbr_reviews                user_id        user_name  \
 0         7820          465         nmann08.184925          nmann08
 1         2521         2504     stjamesgate.163714      StJamesGate
 2         1797         1143          mdagnew.19527          mdagnew
 3           31           31  helloloser12345.10867  helloloser12345
 4          604          604        cypressbob.3708       cypressbob

          joined                   location
 0  1.199704e+09  United States, Washington
 1  1.191838e+09    United States, New York
 2  1.116410e+09           Northern Ireland
 3  1.101380e+09           Northern Ireland
 4  1.069326e+09           Northern Ireland  )

### ratings.txt

need to check if the whole ratings dataset is equal to the reviews dataset. most probably

In [64]:
RB_ratings = read_reviews_txt(DATA_RateBeer, "ratings.txt") # this rating dataset does not have the 'review' column as in BA, so the same function as the review can be used
RB_ratings.head(), RB_ratings.shape

(             beer_name beer_id brewery_name brewery_id       style  abv  \
 0    33 Export (Gabon)  410549      Sobraga       3198  Pale Lager  5.0
 1  Castel Beer (Gabon)  105273      Sobraga       3198  Pale Lager  5.2
 2  Castel Beer (Gabon)  105273      Sobraga       3198  Pale Lager  5.2
 3  Castel Beer (Gabon)  105273      Sobraga       3198  Pale Lager  5.2
 4  Castel Beer (Gabon)  105273      Sobraga       3198  Pale Lager  5.2

          date     user_name user_id appearance aroma palate taste overall  \
 0  1461664800       Manslow  175852          2     4      2     4       8
 1  1487329200  MAGICuenca91  442761          2     3      2     4       8
 2  1466762400        Sibarh  288889          3     3      2     3       5
 3  1451646000       fombe89  250510          4     3      1     2       5
 4  1445594400    kevnic2008  122778          2     4      2     4       7

   rating                                               text
 0   2.00  Puszka 0,33l dzięki Christoph . Kolor jasnozło...
 1   1.90  Cerveza pale lager gabonesa. MÃ¡s floja que la...
 2   1.60  Kolor- złoty, klarowny. Piana - drobna, średni...
 3   1.50  Botella, de GabÃ³n regalo familiar.31/01/2015C...
 4   1.90  Many thanks for this beer to Erzengel. Pours l...  ,
 (18, 16))

### reviews.txt

In [66]:
RB_reviews = read_reviews_txt(DATA_RateBeer, "reviews.txt")
RB_reviews.head(), RB_reviews.shape

(             beer_name beer_id brewery_name brewery_id       style  abv  \
 0    33 Export (Gabon)  410549      Sobraga       3198  Pale Lager  5.0
 1  Castel Beer (Gabon)  105273      Sobraga       3198  Pale Lager  5.2
 2  Castel Beer (Gabon)  105273      Sobraga       3198  Pale Lager  5.2
 3  Castel Beer (Gabon)  105273      Sobraga       3198  Pale Lager  5.2
 4  Castel Beer (Gabon)  105273      Sobraga       3198  Pale Lager  5.2

          date     user_name user_id appearance aroma palate taste overall  \
 0  1461664800       Manslow  175852          2     4      2     4       8
 1  1487329200  MAGICuenca91  442761          2     3      2     4       8
 2  1466762400        Sibarh  288889          3     3      2     3       5
 3  1451646000       fombe89  250510          4     3      1     2       5
 4  1445594400    kevnic2008  122778          2     4      2     4       7

   rating                                               text
 0   2.00  Puszka 0,33l dzięki Christoph . Kolor jasnozło...
 1   1.90  Cerveza pale lager gabonesa. MÃ¡s floja que la...
 2   1.60  Kolor- złoty, klarowny. Piana - drobna, średni...
 3   1.50  Botella, de GabÃ³n regalo familiar.31/01/2015C...
 4   1.90  Many thanks for this beer to Erzengel. Pours l...  ,
 (18, 16))

## Matched beer dataset

In [72]:
DATA_MatchedBeers = os.path.join(DATA_DIR, "matched_beer_data.tar")

### ratings_ba.txt

This dataset should be bigger than the ratings_with_text_ba, as it contains True and False values for the 'review' column.
We probably need the one with text for our project.
Also, not sure if we need beeradvocate and ratebeer separate datasets, or if the matched beer dataset contains both datasets already.
Need to read in the whole datasets and compare the sizes.
Also, if the whole dataset contains reviews with a colon mentioned in 'text', then the read_ratings_txt() most likely will not work well, as it is using ':' as the delimiter. In case, we omit the 'review' column and use the read_reviews_txt() function. (we can add the 'review' column if we need, but it is not reaaaally necessary imo..)

In [97]:
# have a quick peak at the data
# read in ratings_ba.txt file line by line and print out the first 100 lines
with open(os.path.join(DATA_MatchedBeers, "ratings_ba.txt"), "r") as f:
    for i, line in enumerate(f):
        if i > 100:
            break
        print(line)

beer_name: Legbiter

beer_id: 19827

brewery_name: Strangford Lough Brewing Company Ltd

brewery_id: 10093

style: English Pale Ale

abv: 4.8

date: 1417431600

user_name: Hellpop65

user_id: hellpop65.48993

appearance: nan

aroma: nan

palate: nan

taste: nan

overall: nan

rating: 3.25

text: nan

review: False



beer_name: Legbiter

beer_id: 19827

brewery_name: Strangford Lough Brewing Company Ltd

brewery_id: 10093

style: English Pale Ale

abv: 4.8

date: 1401357600

user_name: Latarnik

user_id: latarnik.52897

appearance: nan

aroma: nan

palate: nan

taste: nan

overall: nan

rating: 3.50

text: nan

review: False



beer_name: Legbiter

beer_id: 19827

brewery_name: Strangford Lough Brewing Company Ltd

brewery_id: 10093

style: English Pale Ale

abv: 4.8

date: 1393412400

user_name: RochefortChris

user_id: rochefortchris.697017

appearance: nan

aroma: nan

palate: nan

taste: nan

overall: nan

rating: 3.50

text: nan

review: False



beer_name: Legbiter

beer_id: 19827

brewery_name: Strangford Lough Brewing Company Ltd

brewery_id: 10093

style: English Pale Ale

abv: 4.8

date: 1392030000

user_name: OKCNittany

user_id: okcnittany.144868

appearance: nan

aroma: nan

palate: nan

taste: nan

overall: nan

rating: 3.75

text: nan

review: False



beer_name: Legbiter

beer_id: 19827

brewery_name: Strangford Lough Brewing Company Ltd

brewery_id: 10093

style: English Pale Ale

abv: 4.8

date: 1390647600

user_name: jaydoc

user_id: jaydoc.265507

appearance: nan

aroma: nan

palate: nan

taste: nan

overall: nan

rating: 3.25

text: nan

review: False



beer_name: Legbiter

beer_id: 19827

brewery_name: Strangford Lough Brewing Company Ltd

brewery_id: 10093

style: English Pale Ale

abv: 4.8

date: 1380794400

user_name: ejimhof

user_id: ejimhof.5743

appearance: nan

aroma: nan

In [99]:
ratings_ba = read_ratings_txt(DATA_MatchedBeers, "ratings_ba.txt") # contains TRUE and FALSE values in the 'review' column  # ratings_ba.review.head(40), 
ratings_ba.head(20), ratings_ba.shape

(   beer_name beer_id                          brewery_name brewery_id  \
 0   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 1   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 2   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 3   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 4   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 5   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 6   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 7   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 8   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 9   Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 10  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 11  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 12  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 13  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 14  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 15  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 16  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 17  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 18  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 19  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093

                style  abv        date        user_name  \
 0   English Pale Ale  4.8  1417431600        Hellpop65
 1   English Pale Ale  4.8  1401357600         Latarnik
 2   English Pale Ale  4.8  1393412400   RochefortChris
 3   English Pale Ale  4.8  1392030000       OKCNittany
 4   English Pale Ale  4.8  1390647600           jaydoc
 5   English Pale Ale  4.8  1380794400          ejimhof
 6   English Pale Ale  4.8  1366884000  GraduatedCashew
 7   English Pale Ale  4.8  1360753200     brewdude1982
 8   English Pale Ale  4.8  1357729200       AgentMunky
 9   English Pale Ale  4.8  1355482800     swungomonkey
 10  English Pale Ale  4.8  1354446000            BYOFB
 11  English Pale Ale  4.8  1353754800        CadensDad
 12  English Pale Ale  4.8  1353150000        ferrari29
 13  English Pale Ale  4.8  1351767600       samurai221
 14  English Pale Ale  4.8  1342260000       OtherShoe2
 15  English Pale Ale  4.8  1336125600    FriedGold2112
 16  English Pale Ale  4.8  1335607200         brentk56
 17  English Pale Ale  4.8  1335607200        emerge077
 18  English Pale Ale  4.8  1333274400           buckyp
 19  English Pale Ale  4.8  1332500400   GarthDanielson

                    user_id appearance aroma palate taste overall rating  \
 0          hellpop65.48993        nan   nan    nan   nan     nan   3.25
 1           latarnik.52897        nan   nan    nan   nan     nan   3.50
 2    rochefortchris.697017        nan   nan    nan   nan     nan   3.50
 3        okcnittany.144868        nan   nan    nan   nan     nan   3.75
 4            jaydoc.265507        nan   nan    nan   nan     nan   3.25
 5             ejimhof.5743        nan   nan    nan   nan     nan   3.00
 6   graduatedcashew.730089        nan   nan    nan   nan     nan   3.00
 7      brewdude1982.691169       4.25   4.5   3.25  3.75    3.75   3.91
 8        agentmunky.409755        4.0  3.75    3.5   3.5    3.75   3.64
 9      swungomonkey.698859        nan   nan    nan   nan     nan   3.00
 10            byofb.537281        nan   nan    nan   nan     nan   3.50
 11        cadensdad.704691        nan   nan    nan   nan     nan   4.00
 12        ferrari29.320392        3.0   3.5    2.5   2.5     2.5   2.77
 13       samurai221.575106        nan   nan    nan   nan     nan   2.00
 14       othershoe2.233642        4.0   3.5    4.0   3.5     4.0   3.68
 15    friedgold2112.672227        nan   nan    nan   nan     nan   4.25
 16           brentk56.6284        4.5   3.0    3.5   2.5     2.5   2.84
 17         emerge077.17949        4.0   3.0    3.5   3.0     3.5   3.21
 18           buckyp.435592        nan   nan    nan   nan     nan   2.75
 19   garthdanielson.522584        4.0   3.5    2.5   3.5     3.0   3.33

                                                  text review
 0                                                 nan  False
 1                                                 nan  False
 2                                                 nan  False
 3                                                 nan  False
 4                                                 nan  False
 5                                                 nan  False
 6                                                 nan  False
 7   This was a 12 oz bottle poured into a snifter....   True
 8   Poured from a 12 ounce bottle into a pilsner g...   True
 9                                                 nan  False
 10                                                nan  False
 11                                                nan  False
 12  Beer poured from bottle into a Nonic shaped pi...   True
 13                                                nan  False
 14  Pours a rich brownish red with some chill haze...   True
 15                                                nan  False
 16                                         Appearance   True
 17  Six pack from George's deli case, always some ...   True
 18                                                nan  False
 19  Poured from a bottle into a tumbler pint, the ...   True  ,
 (101, 17))

### ratings_with_text_ba.txt

In [100]:
ratings_with_text_ba = read_ratings_txt(DATA_MatchedBeers, "ratings_with_text_ba.txt") # contains only TRUE values in the 'review' column # ratings_ba_with_text_ba.review.head(40), 
ratings_with_text_ba.head(), ratings_with_text_ba.shape

(  beer_name beer_id                          brewery_name brewery_id  \
 0  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 1  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 2  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 3  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093
 4  Legbiter   19827  Strangford Lough Brewing Company Ltd      10093

               style  abv        date     user_name              user_id  \
 0  English Pale Ale  4.8  1360753200  brewdude1982  brewdude1982.691169
 1  English Pale Ale  4.8  1357729200    AgentMunky    agentmunky.409755
 2  English Pale Ale  4.8  1353150000     ferrari29     ferrari29.320392
 3  English Pale Ale  4.8  1342260000    OtherShoe2    othershoe2.233642
 4  English Pale Ale  4.8  1335607200      brentk56        brentk56.6284

   appearance aroma palate taste overall rating  \
 0       4.25   4.5   3.25  3.75    3.75   3.91
 1        4.0  3.75    3.5   3.5    3.75   3.64
 2        3.0   3.5    2.5   2.5     2.5   2.77
 3        4.0   3.5    4.0   3.5     4.0   3.68
 4        4.5   3.0    3.5   2.5     2.5   2.84

                                                 text review
 0  This was a 12 oz bottle poured into a snifter....   True
 1  Poured from a 12 ounce bottle into a pilsner g...   True
 2  Beer poured from bottle into a Nonic shaped pi...   True
 3  Pours a rich brownish red with some chill haze...   True
 4                                         Appearance   True  ,
 (101, 17))